:root {
    --color-light: #ffffff;
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-slate: #434455;
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-border: #e7e9fc;
    --color-light-slate: #8E8F99;  
    --color-green: #31D0AA;
    --color-bg-modal: #FCFCFC;
    --color-navyblue-modal: #2E2F4240;
}

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    font-size: 16px;
    background-color: var(--color-light);
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* ----------------General styles------------ */

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.tittle-main-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--color-navyblue);
    margin-bottom: 72px;
}

.subtittle-main-section {
    color: var(--color-navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text-main-section {
    color: var(--color-slate);
    font-family: Roboto;
    line-height: 1.5;
    margin-bottom: 0;
}

/* ---------Header--------- */

.header {
    border-bottom: 1px solid var(--color-border); 
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    justify-content: space-between;
} 

.header-nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
}

.logo-color {
    color: var(--color-navyblue);
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-item {
    display: flex;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-list-link {
    position: relative;
    padding: 24px 0;
    color: var(--color-navyblue);
    font-weight: 500;
    line-height: 1.5;
    transform-origin: right;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--color-ocean);
}

.header-link-current {
    color: var(--color-ocean);
}

.header-link-current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);
    transform-origin: right;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link-info {
    color: var(--color-slate);
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-info:hover {
   color: var(--color-ocean);
} 


/* -----------Main--------- */


/* -----------Hero-section----------------- */

.hero-section {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
}

.container-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-tittle {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    color: var(--color-light);
    max-width: 496px;
    margin-bottom: 48px;
}

.button-service {
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    color: var(--color-light);
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    box-shadow: 0.4, 0, 0.2, 1 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
    background-color: var(--color-ocean);
}


/* ----------Section hidden Our advantages--------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-list-advantages {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.main-item-advantages {
    width: calc((100% - 72px) / 4);
}

.advantages-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-light-slate);
    background: var(--color-cloud);
    margin-bottom: 8px;
    height: 112px;
}


/* -----------Section-team------------------- */

.section-team {
    background-color: var(--color-cloud);
}

.list-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.main-item-team {
    background-color: var(--color-light);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-light);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-item-team:hover {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-light);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.images-team {
    display: block;
    max-width: 100%;
    height: auto;
}


.name-profession {
    padding-top: 32px;
    padding-bottom: 32px;
}

.subtittle-team {
    text-align: center;
}

.text-team {
    text-align: center;
    margin-bottom: 8px;
} 

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-iris);
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-social {
    fill: var(--color-cloud);
}

.social-icon-link:hover, 
.social-icon-link:focus {
   background-color: var(--color-ocean);
}

/* --------------------Section Our Portfolio------------------ */

.main-list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px 24px;
}

.images-portfolio {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-item-portfolio {
   width: calc((100% - 48px) /3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}

.portfolio-category {
   padding: 32px 16px;
   border: 1px solid var(--color-border);
   border-top: none;
}


/* ---Overley--------- */

.container-overley {
    position: relative;
    overflow: hidden;

}

.portfolio-overley {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    color: var(--color-cloud);
    inset: 0; 
    padding: 40px 32px;
    line-height: 1.5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item-portfolio:hover .portfolio-overley {
    transform: translateY(0);
}


/* ---------Footer------------- */


.final-info {
    background-color: var(--color-navyblue);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.container-footer-info {
    display: flex;
    align-items: baseline;
    
}

.final-logo {
    color: var(--color-cloud);
}

.container-text-logo {
    margin-right: 120px;
}

.text-final-info {
    color: var(--color-cloud);
    line-height: 1.5; 
    max-width: 264px;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
}

.text-media-footer {
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-light);
    margin-bottom: 16px;
}

.list-social-media {
    display: flex;
    gap: 16px;
}

.social-link-media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-social-media {
    fill: var(--color-cloud);
}

.social-link-media:hover,
.social-link-media:focus {
    background-color: var(--color-green);
}

/* ---------Modal------ */

.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: none;
    background-color: var(--color-navyblue-modal);
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: relative;
    max-height: 584px;
    height: 100%;
    max-width: 408px;
    width: 100%;
    overflow: auto;
    background-color: var(--color-bg-modal);
    border-radius: 4px;
    padding: 24px;
    transform: scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .modal {
   scale: (0);
}

.modal-close {
    position: absolute;
    top:24px;
    right: 24px;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: var(--color-border);
    border: none;
}

.icon-modal-close {
    fill: var(--color-navyblue);
}

.text-form {
    color: var(--color-navyblue);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

.contact-form {}


.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    color: var(--color-light-slate);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04;
}

.modal-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--color-navyblue-modal);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 34px;
}

.modal-input:focus {
    outline: none;
    border: 1px solid var(--color-iris);
}

.modal-textarea {
    min-height: 120px;
    width: 100%;
    resize: none;
    border-radius: 4px;
    border: 1px solid var(--color-navyblue-modal);
    padding-top: 8px;
    padding-left: 16px;
}

.modal-input-container {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}